/*min-max for inputs*/
@font-face {
  font-family: "roboto";
  src: url("../Roboto/Roboto-Black.ttf");
}
.header {
  height: 110px;
  width: 100%;
  background: rgb(121, 169, 215);
  color: white;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > button {
  background: none;
  padding: 0;
}
button img {
  width: 100px;
}
.form-container {
  padding: 20px;
  background: rgb(245, 245, 245);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
}
.input-section {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
  margin-bottom: 50px;
}
.form-container input {
  border: 0;
  margin-left: 20px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  border: 2px solid rgb(229, 229, 229);
  display: block;
  font-size: 1.5rem;
  padding: 5px 10px;
  width: 100%;
}

.form-container label {
  font-size: 1.5rem;
}
.update-button {
  width: 100%;
  font-size: 2rem;
  background: rgb(226, 225, 225);
}
.update-button:hover {
  background: rgb(208, 208, 208);
}
.hidden {
  display: none;
}
.delete_btn {
  background: rgb(175, 0, 0);
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 0;
}
.delete_btn img {
  width: 40px;
}
.dynamic-input {
  display: flex;
  justify-content: space-between;
}
.add-section {
  background: rgb(121, 169, 215);
  color: white;
  font-size: 2rem;
}
select {
  border-radius: 5px;
  font-size: 1.3rem;
  height: 50px;
  background: white;
}
