html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
.edit-info {
  padding: 20px 50px;
  margin-left: 50px;
}

#root {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}
.resume-container {
  width: 60%;
  background: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
}
.info-container {
  font-family: "roboto";
  margin-bottom: 100px;
  width: 700px;
}
@media (max-width: 1500px) {
  #root {
    display: block;
  }
  .resume-container {
    width: 100vw;
  }
  .info-container {
    width: 80vw;
    max-width: 1200px;
  }
}

@media (max-width: 500px) {
  .info-container {
    width: 90vw;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .edit-info {
    margin-left: 0;
    padding: 0;
  }
}
